@font-face {
    font-family: "inter";
    src: url('../fonts/inter.woff2');
}

html {
    font-size: 100%;
    font-family: "inter";
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

*:not(i) {
    font-family: "inter" !important;
}

body {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg, #9AECDB, #FEA47F);
}

.container {
    background: linear-gradient(90deg, #F8EFBA, #BDC581);
    margin: 2rem;
    border-radius: 2rem;
    box-shadow: 5px 10px 20px #00000067;
    justify-content: center;
}

.container .item {
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
    margin: 1.5rem;
    padding: 2rem;
    border-radius: 1.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container .item1,
.container .item3,
.container .item5,
.container .item7,
.container .item9 {
    background: linear-gradient(90deg, #FC427B, #FD7272);
}

.container .item2,
.container .item4,
.container .item6,
.container .item8,
.container .item10 {
    background: linear-gradient(90deg, #FD7272, #FC427B);
}

/* css grid */
.container {
    display: grid;
    grid-template-columns: 15rem 15rem 15rem 15rem 15rem;
    grid-template-rows: 15rem 15rem 15rem 15rem;
}

.item1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 7;
    grid-row-end: 2;
}

.item2 {
    grid-column-start: 5;
    grid-row-start: 2;
    grid-column-end: 5;
    grid-row-end: 4;
}

.item3 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 5;
    grid-row-end: 4;
}

.item4 {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-column-end: 6;
    grid-row-end: 5;
}